<div class="login">
  <h2>Login</h2>
  <form class="" (submit)="loginUser($event)">
  <div class="form-group">
    <label >Username:
  <input class="form-control" type="text" name="username" placeholder="User Name" id="username"/>
    </label>
  </div>
  <div class="form-group">
    <label >Password:
  <input class="form-control" type="password" name="password" placeholder="Password" id="password"/>
    </label>
  </div>
  <div class="form-group">
    <button class="btn btn-default" type="submit">Submit</button>
  </div>

</form>
</div>
