#message{
  position: relative;
  color:#000;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  top:200px
}
a.button{
  padding-left: 20px;
}
.button{
  background: #000;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding:8px 10px;
  border-radius: 5px;
  border: 1px solid #000000;
  margin-left:15px;
}
.button:hover{
  background: #fff;
  color:#000;
}
