.login{
  width: 30%;
  margin: 60px auto;
  padding: 25px 25px 25px 85px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  background: #bbb7b7;
}
.login button{
  background: #f53716;
  color: #fff;
}
